/* --------------------------------------------------
   CONTENT: Page Headers
   -------------------------------------------------- */
.content hgroup {
  clear: both;
  height: 65px;
  overflow: hidden;
  padding: 15px 0 20px;
}
.content hgroup h1 {
  margin: 0;
  overflow: hidden;
  font: bold 32px/2 "Segoe UI", Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
  color: #444;
}

.inf {
    color: #d23;
}

/* --------------------------------------------------
   CONTENT: Text Article
   -------------------------------------------------- */
/* --- Container --- */
.text {
  padding: 0 0 25px;
}
.text.short {
  padding: 0 0 45px;
}
.text.midst {
  padding: 0 0 15px;
}
.text.break {
  padding: 0;
}
/* --- Headers --- */
.text hr {
  height: 1px;
  padding: 5px 0 10px;
  border: 1px dotted #ccc;
  border-width: 1px 0 0;
}
/* --- Paragrafs --- */
.text p {
  font-size: 14px;
  padding: 0 0 20px;
}
.text p:last-child {
  padding: 0;
}

.text strong {
  font-family: "Segoe UI", Helvetica, Arial;
}
.text.functions p span {
  display: block;
  padding: 3px 15px;
  margin: 0 0 -10px;
  background-color: #f5f5f5;
  font: normal 14px/1.5 Consolas;
  color: #444;
}
/* --- Bullet List ---- */
.text p + ul {
  margin-top: -10px;
}
.text ul {
	padding: 0 0 15px 45px;
}
.text ul li {
	padding: 0 0 10px;
  font-size: 14px;
}
.text ul.string li {
	padding: 0 0 5px;
}
.text ul li:before {
  float: left;
  display: block;
  position: relative;
  margin: 0 10px 0 -25px;
  font: bold 14px/1.2 "Segoe UI", Helvetica, Arial;
  content: "—";
  color: #284 !important;
}
/* Dotted */
.text ul.dotted {
	padding-left: 20px;
}
.text ul.dotted li:before {
  margin: 0 0 0 -15px;
  font: normal 20px/1 "Segoe UI", Helvetica, Arial;
  content: "▪";
}
.error_codes span,
.error_codes strong {
  display: inline-block;
}
.error_codes span {
  padding: 0 10px;
}
.error_codes strong {
  width: 15px;
  text-align: right;
}

/* --------------------------------------------------
   CONTENT: Sliders
   -------------------------------------------------- */
.slider dd {
  display: none;
}
/* --- Dimness --- */
.detail dl {
  padding-bottom: 15px;
}
.detail dt h2 {
  padding: 5px 0 5px 25px;
  background: transparent url("../images/layout/tick_vacancy.png") no-repeat 10px 10px;
  font: normal 15px/1.3 "Segoe UI", Helvetica, Arial;
  cursor: pointer;
}
.detail dt h2 span {
  border-bottom: 1px dashed #284;
}
.detail dt h2 span:hover {
  border-color: #fff;
  color: #284;
}
/* Active State */
.detail .show h2 {
  font-weight: bold;
  background-position: 10px -20px;
}
.detail .show h2 {
  border-bottom: 2px solid #284;
}
.detail .show h2 span {
  border-bottom: none;
  color: #284;
}
/* Content */
.detail dd {
  background-color: #f9f9f9;
  margin-bottom: 25px;
  padding: 25px 25px 20px 30px;
  border-bottom: 1px solid #eee;
}
.detail dd p {
  font-size: 14px;
  padding: 0 0 15px;
}
.detail dd p:last-child {
  padding: 0 0 5px;
}
.detail dd p strong,
.detail dd li strong {
  font-family: "Segoe UI", Helvetica, Arial;
}

/* --- Bullet List ---- */
.detail p + ul {
  margin-top: -5px;
}
.detail ul {
	padding: 0 0 15px 45px;
}
.detail ul li {
	padding: 0 0 10px;
  font-size: 14px;
}
.detail ul.string li {
	padding: 0 0 5px;
}

.detail ul li:last-child,
.detail ul.string li:last-child {
  padding-bottom: 0 !important;
}

.detail ul li:before {
  float: left;
  display: block;
  position: relative;
  margin: 0 10px 0 -25px;
  font: bold 14px/1.2 "Segoe UI", Helvetica, Arial;
  content: "—";
  color: #284 !important;
}






/* --------------------------------------------------
   CONTENT: Forms
   -------------------------------------------------- */
.form {
  padding: 0 0 25px;
}
.form form {
  padding: 25px;
  background-color: #f5f5f5;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #ccc;
}

.form table {
  width: 100%;
}

.form table th,
.form table td {
  text-align: left;
}

.form table th {
  font: bold 14px/1 "Segoe UI", Helvetica, Arial;
}
.form form table td {
  padding-right: 25px;
  padding-bottom: 15px;
}

.form table tfoot th,
.form table tfoot td {
  overflow: hidden;
  padding-bottom: 0;
}
.form table tfoot td button {
  float: left;
  margin-right: 15px;
}

/* --- Fields --- */
.form select,
.form textarea,
.form input[type='text'] {
  border: 1px solid;
  border-color: #aaa #ccc #ddd #ccc;
  background: #fff url("../images/layout/form.png") repeat-x top left;
  font: normal 15px/1 "Trebuchet MS", Helvetica, Arial;
  border-radius: 3px;
}

.form textarea,
.form input[type='text'] {
  padding: 5px 7px;
}

.form select {
  padding: 4px 5px;
  line-height: 1;
}


.form.thin form table th {
  width: 170px;
}

.form.wide form table th {
  width: 200px;
}



.form.thin select,
.form.thin input[type='text'] {
  width: 250px;
}

.form.wide input[type='text'] {
  width: 350px;
}
.form.wide select {
  width: 365px;
}

/* --- Colors for forms events --- */

.good {
  color: #284;
}
.poor {
  color: #d23;
}
.detail dd span.logs {
  color: #888;
  word-wrap: break-word !important;
  white-space: normal;
}


/* --- Button --- */
button {
  display: block;
  padding: 10px 15px;
  font: bold 14px/1 "Segoe UI", Helvetica, Arial;
  text-transform: uppercase;
  border: none;
  background-color: #284;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}
button.test {
  text-transform: none;
}

button:hover {
  background-color: #173;
  text-decoration: underline;
}

button.refresh {
  background-color: #ccc;
  color: #222;
}
button.refresh:hover {
  background-color: #bbb;
  text-decoration: underline;
  color: #000;
}

button[disabled=disabled],
button:hover[disabled=disabled] {
  background-color: #ddd;
  background-image: none;
  text-decoration: none;
  cursor: text;
  color: #999;
}



/* --------------------------------------------------
   CONTENT: Popup
   -------------------------------------------------- */
.popup {
  display: none;
  position: absolute;
  overflow: auto;
  margin: 0 auto;
  padding: 40px;
  width: 643px;
  height: auto;
  min-height: 420px;
  border: 5px solid #284;
  background-color: #fff;
  top: 227px;
  z-index: 1002;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
}
.popup h2 {
  font: bold 18px/1 "Segoe UI", Helvetica, Arial, sans-serif;
  padding: 0 0 15px;
}
.popup p {
  font-size: 14px;
  padding: 0 0 20px;
}
.popup table {
  width: 100%;
}
.popup table th {
  width: 200px;
  text-align: right;
  vertical-align: top;
  font: bold 14px/1.5 "Segoe UI", Helvetica, Arial;
}
.popup table th,
.popup table td {
  padding: 10px 0;
  text-align: left;
}
.popup table tbody th,
.popup table tbody td {
  border-bottom: 1px dotted #bbb;
}
.popup table td {
  padding-right: 25px;
  font: normal 15px/1.5 "Trebuchet MS", Helvetica, Arial;
}
.popup table tfoot th,
.popup table tfoot td {
  padding-top: 25px;
  padding-bottom: 0;
}
.popup table tfoot td button {
}
/* --- Transparency Layer --- */
.block {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	background: transparent url('../images/layout/gallery_overlay_white.png');
  z-index: 1000;
}
.block.show {
	display: block;
}






pre {
  margin: 0;
  padding: 0;
  font-family: Consolas;
  font-style: italic;
  font-size: 10px;
  color: #888;
}

/* Окно ввода CSS */
#qtcss {
  width: 100%;
  font: normal 14px/1.5 Consolas, "Courier New", Helvetica, Arial;
}
#mess {
  padding-bottom: 5px;
  color: #be1e2d;
}






.text h2 {
  font: 600 24px/1 "Segoe UI", Helvetica, Arial, sans-serif;
  padding: 20px 0 20px;
  color: #222;
}
.text h3 {
  font: 600 18px/1 "Segoe UI", Helvetica, Arial, sans-serif;
  padding: 0 0 10px;
  color: #222;
}
.text.functions p {

}



.api {
  overflow: hidden;
  margin-bottom: 25px;
  padding: 0 0 15px;
  border-bottom: 1px solid #ddd;
}



.result {
  clear: both;
  font: bold 14px/2 "Segoe UI";
  color: #d23;
  word-wrap: break-word;
}


.source {
  clear: both;
  display: none;
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
  margin-bottom: 5px;
}

button {
  float: left;
  margin-bottom: 15px;
}






.viewer {
  display: block;
  float: right;
  padding-top: 10px;
  clear: right;
  cursor: pointer;
  color: #aaa;
  text-decoration: underline;
}
.viewer span {
  color: #284;
}
.viewer:hover,
.viewer:hover span {
  color: #d23;
}


.clear {
  clear: both;
}
.api.clear {
  padding: 5px 0 10px;
}
