/* --- Layout --- */
html, body {
  width: 100%;
  height: 100%;
  color: #333;
}
body {
  position: absolute;
}
.null {
  height: 50px;
}
.foot {
  width: 984px;
}
/* --- Elements --- */
/* Green Lines */
.menu ul.base {
  margin-left: 8px;
}
.foot dt {
  margin-left: 10px;
}
